.container {
    width: 292px;
    margin: auto;
}

.image-section {
    height: 540px;
    min-width: 320px;
    box-sizing: border-box;
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header__background-mobile.jpg") center center no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
}

.header-inner {
    display: flex;
    padding-top: 20px;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 170px;
}

.logo {
    margin: 0;
    padding: 0;

    
}

.logo-link {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo-link:hover {
    color: #ff4e50;
}

.header__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.sign-up__btn {
    margin: 0;
    padding: 0;
    padding: 11px 15px;
    background: none;
    border: none;

    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    border: 2px solid transparent;
    cursor: pointer;
}

.log-in__btn {
    margin: 0;
    padding: 0;
    padding: 11px 15px;
    background: none;
    border: none;

    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    border: 2px solid transparent;
    cursor: pointer;
}

.log-in:hover .log-in__btn{
    border: 2px solid #fff;
    border-radius: 30px;
}

.sign-up:hover .sign-up__btn {
    border: 2px solid #fff;
    border-radius: 30px;
}





.share {
    padding-top: 40px;
    text-align: center;
}

.header__title {
    margin: 0;
    margin: auto;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;

    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__subtitle {
    display: block;
    padding-top: 20px;
    width: 217px;
    margin: auto;

    text-transform: none;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
}

.header__btn {
    margin: 0;
    padding: 0;
    padding: 13px 47px;
    background-color: #ff4e50;
    border: 1px solid #ff4e50;
    border-radius: 30px;
      

    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.header__btn:hover {
    background-color: #c22123;
    border: 1px solid #c22123;
}





.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 69px;
    padding-bottom: 57px;
}

.partners-title {
    margin: 0;
    padding-bottom: 15px;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
}

.partners-profiles {
    width: 217px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.partner-name {
    margin: 0;
    color: #333333;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 16px;
}

.partner-bio {
    margin: 0;
    color: #666666;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 29px;
}

.hunter::before {
    content: '';
    display: block;
    height: 125px;
    background-image: url(../img/member-pic-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.marsha::before {
    content: '';
    display: block;
    height: 125px;
    background-image: url(../img/member-pic-2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.walker::before {
    content: '';
    display: block;
    height: 125px;
    background-image: url(../img/member-pic-3.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bradley::before {
    content: '';
    display: block;
    height: 125px;
    background-image: url(../img/member-pic-4.png);
    background-repeat: no-repeat;
    background-position: center;
}

.see-other {
    color: #ff4e50;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;

    padding: 14px 0 12px;
    border: 2px solid #ff4e50;
    border-radius: 24px;
    background-color: #fff;
    width: 217px;
    cursor: pointer;
}

.see-other:hover {
    background-color: #ff4e50;
    color: #fff;
}




/* Медия запросы */

@media (min-width:768px) {
    .image-section {
        /* background-image: url(../img/header__background-tablet.jpg), linear-gradient(#000, #000); */
        background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header__background-tablet.jpg") center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;
    }

    .header-inner {
        flex-direction: row;
        height: 100%;

    }

    .container {
        width: 676px;
    }

    .share {
        padding-top: 162px;
    }

    .header__title {
        font-size: 52px;
        width: 510px;
    }

    .header__subtitle {
        width: 100%;
    }

    .member {
        width: 217px;
    }

    .partners-profiles {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 460px;
        height: 532px;
    }
}


@media (min-width: 940px) {
    .image-section {
        background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header__background-desktop.jpg") center center no-repeat;
        background-size: cover;
    }

    .container {
        width: 938px;
    }

    .partners-profiles {
        width: 100%;
        height: 274px;
    }
}