$yellow-color: #fce38a;
$yellow-rgba: rgba(252, 227, 138, 0.9);

$red-color: #f38181;
$red-rgba: rgba(243, 129, 129, 0.9);

$blue-color: #95e1d3;

$text-color: #ffffff;

$section-text: #333333;

$desc-color: #999999;

$input-bg: #e7e7e7;

$input-text-color: #cccccc;

$retina-media: (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);